/* fonts */
@font-face {
  font-family: "Typo slab";
  src: url("fonts/typo_slab/TypoSlab_light_demo.otf");
}

@font-face {
  font-family: "Whitin";
  src: url("fonts/Whitin-CondensedBlack.otf");
}

/* general */
html {
  background-image: url("prototype/img/bckg.png");
  background-size: cover;
  --brown: #d7b596;
}

body {
  font-family: "Typo slab";
  margin: 0;
  padding: 50px;
}

/* header */

header {
  margin-bottom: 40px;
}

h1 {
  display: block;
  font-family: "Whitin";
  font-size: 5em;
  text-align: center;
  margin: 0;
  padding: 0;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}

h2 {
  font-family: "Whitin";
  font-size: 2em;
}

.header-box {
  border: 2px black solid;
  width: 150px;
  height: 60px;
  padding: 5px;
  text-align: center;
  font-family: "Whitin";
  font-size: 18px;
  margin-top: 15px;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  text-align: center;
  grid-gap: 20px;
  text-align: center;
}

.page-desc {
  font-family: "Whitin";
  font-size: 1.5em;
  text-align: center;
}

/* main grid*/

main {
  display: grid;
  grid-template-columns: 1fr 250px;
}

.main-header {
  border: none;
  font-size: 4em;
  text-align: left;
  padding: 0;
  margin: 0;
}

.main-subheader,
.main-p {
  padding: 5px;
  margin: 0;
}

.main-p {
  font-size: 1.3em;
}

.sort {
  display: inline-block;
}

.filter-sort {
  margin-top: 10px;
  margin-bottom: 20px;
}

.sort-container {
  margin-left: 15px;
}

#house-filter {
  border: black solid 1px;
  background-color: var(--brown);
}

/* table */

thead {
  background-color: black;
  color: var(--brown);
  text-transform: uppercase;
  font-family: "Whitin";
  font-size: 1.7em;
  text-align: left;
}

.head-row {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 2px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 90%;
}
td,
th {
  border: 1px solid black;
}

tr button {
  display: inline;
}

button {
  border: 1px solid black;
  position: relative;
}

.hide {
  display: none;
}
/* prefect */
.grayscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.prefect {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

/* modal */

.modal {
  display: block;
  width: 80%;
  height: 80%;
  background-color: var(--bg-color);
  position: fixed;
  top: 0%;
}

.modal-name,
.modal-house {
  color: var(--text-color);
}

.hide {
  display: none;
}

.close-btn {
  border: 0;
  color: black;
  font-size: 3em;
  background-color: var(--bg-color);
  float: right;
  color: var(--text-color);
}

html[data-theme="Gryffindor"] {
  --text-color: white;
  --bg-color: rgba(192, 29, 70);
}

html[data-theme="Hufflepuff"] {
  --text-color: white;
  --bg-color: rgba(204, 125, 6);
}

html[data-theme="Ravenclaw"] {
  --text-color: white;
  --bg-color: rgba(27, 24, 211);
}

html[data-theme="Slytherin"] {
  --text-color: white;
  --bg-color: rgba(16, 163, 82);
}

.expelled {
  animation: expelling 2s ease-in-out forwards;
}

@keyframes expelling {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* media queries */
@media all and (max-width: 970px) {
  h1 {
    font-size: 3em;
    padding-top: 10px;
  }
}

@media all and (max-width: 760px) {
  h1 {
    font-size: 4em;
    border: none;
    padding-top: 0;
  }
  .header-box {
    display: none;
  }
  h2 {
    display: none;
  }
  .container {
    display: block;
  }
  .sort-container {
    margin-left: 0;
  }
  main {
    display: initial;
  }
}
