@font-face {
  font-family: "Harry Potter";
  src: url("harry_p/HARRYP__.TTF");
}

h1 {
  font-family: "Harry Potter";
  font-size: 3em;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid black;
}

tr {
  cursor: pointer;
}

tr button {
  display: inline;
}

button {
  border: 1px solid black;
  position: relative;
}

.hide {
  display: none;
}

.modal {
  display: block;
  width: 80%;
  height: 80%;
  background-color: var(--bg-color);
  position: fixed;
  top: 0%;
}

.modal-name,
.modal-house {
  color: var(--text-color);
}

.hide {
  display: none;
}

.close-btn {
  border: 0;
  color: black;
  font-size: 3em;
  background-color: var(--bg-color);
  float: right;
  color: var(--text-color);
}

html[data-theme="Gryffindor"] {
  --text-color: white;
  --bg-color: rgba(192, 29, 70);
}

html[data-theme="Hufflepuff"] {
  --text-color: white;
  --bg-color: rgba(204, 125, 6);
}

html[data-theme="Ravenclaw"] {
  --text-color: white;
  --bg-color: rgba(27, 24, 211);
}

html[data-theme="Slytherin"] {
  --text-color: white;
  --bg-color: rgba(16, 163, 82);
}

.expelled {
  animation: expelling 2s ease-in-out forwards;
}

@keyframes expelling {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
